<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stat Tracker - Home</title>

  </head>
  <body>
    <header class="home-header">
      <nav>
        <ul class="nav-row">
          <li class="nav-item">
            <div class="active-user-pic">
            </div>
            {{#displayname}}
            <div class="displayname">
            {{displayname}}
            </div>
            {{/displayname}}
          </li>
          <li class="nav-item">
            <form action="/logout" method="post" class="reset">
                <button type="submit" name="logout" id="logout" value="">logout</button>
            </form>
          </li class="nav-item">
            <div class="logo"></div>
            <span class="gabble-top">Stat Tracker</span>
          <li>
        </ul>
      </nav>
    </header>
    <div class="body-wrapper">
      <form action="/home" method="post" class="makeActivity">
        <label for="activity">Enter a new activity</label>
        <input type="text" name="activity" placeholder="Enter an Activity">
        <input type="submit" class="button">
      </form>
      {{#activity}}
      <div class="Activity-wrapper">
        <div class="activity">{{activity.name}}</div>
      </div>
      {{/activity}}
    </div>
    <footer>
      <div class="logo"></div>
      <div class="statTracker-bottom"></div>
    </footer>
  </body>
</html>
